@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #011a39;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: #323232;
}
a{
    color: white;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}
a:hover{
    text-decoration: none;
    color: white;
}
.navbar{
    background-color: transparent;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
button, input, optgroup, select, textarea{
    margin-right: -17px;
}
.offcanvas{
    background-color: #00152e;
}
.offcanvas-title{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.btn-close{
    color: #fff;
    background-color: wheat;
}
.case{
     background:  linear-gradient(rgb(6, 21, 39,0.5),rgb(6, 21, 39,0.5)), url('../images/Workflow.png') no-repeat top center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 92%, 53% 100%, 0 93%, 0 0);
    position: relative;
    margin-top: -108px;
    z-index: -1;

}
.nav-item{
    padding: 12px;
    color: white;
    margin-top: -15px;
}
.navbar-nav{
    margin-left: 85px;
}
.nav-link,.nav-link:hover{
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.nav-link:hover{
    color: #ff961c;
}
.request{
    margin-top: -5px;
    margin-left: 10px;
    
}
.request button{
    color: white;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #fe693b;
    /* border-image: linear-gradient(180deg,#ff961c,#fe693b); */
    /* border-image-slice:1 ; */
    text-align: center;
    width: 235px;
    height: 48px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
    
}
.request button:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;

}
.request button span{
    padding-left: 20px;
}
.fintach{
    text-align: center;
    color: #fff;
}
.fintach h3{
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    padding-top: 225px;
    padding-bottom: 180px;
    
}
.agency{
    margin-top: 10px;
    padding-top: 120px;
    background-color: #00152e;
    padding-bottom: 100px;
    position: relative;
    margin-top: -40px;
    z-index: -2;




}
.libero{
    text-align: center;
}
.libero h2{
    font-size: 42px;
    font-weight: 600;
    color: #fff;
}
.libero span{
    color: #FF961C;
}
.libero p{
    margin-top: 30px ;
    color: #d0d9e4;
    letter-spacing: 2px;
    margin-bottom: 70px;
}
.libero a{
    background-color: transparent;
    border-radius: 30px;
    padding: 19px 38px;
    border: 1px solid #fff;
    height: 64px;
    width: 264px;
    color: #fff !important;
    
}
.libero a:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;

}
.libero a span img{
    padding-left: 15px;
}
.dif{
    background-color: #011a39;
}
.title{
    text-align: center;
    /* max-width: 600px; */
    justify-content: center;
    
}
.title h2{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
}
.title span{
    color: #ff961c;
}
.what{
    margin-top: 95px;
}
.icon{
    
}
.trans{
    background: transparent;
    border:  1px solid #3048a6;
    padding: 29px 17px 16px 20px;
    border-radius: 15px;
    text-align: left;
    height: 240px;
    width: 217px;

}
.trans p{
    padding-top: 28px;
}
.trans img{
    height: 42px;
    width: 42px;
}
.trans .width{
    color: #fff;
    padding-left: 5px;
    width: 100px;
}
.text{
    text-align: center;
    margin-top: 35px;
    justify-content: center;
}
.trans p{
    color: #fff;
    padding-left: 5px;
}
.co-founder{
    background-color: #00152e;
    padding-top: 80px;
    margin-top: 100px;
    padding-bottom:80px;
    margin-bottom: 100px;
}
.profile img{
    max-width: 483px;
    min-height: 505px;
    position: relative;
    opacity: 1;
}
.igal{
    position: relative;
}
.igal h2{
    font-size: 42px;
    font-weight: 600;
    color: #fff;
  
}
 .igal .before{
    color: #ff961c;
    font-weight: 400;
    padding-left: 50px;
}
.before1::after{
    content: '';
    height: 2px;
    width: 40px;
    background-color: #2b449c;
    display: block;
    position: relative;
    left: 5px;
    top: -32px;
}
.igal p{
    font-weight: 400;
    color: #d0d9e4;
    padding-top: 10px;
    line-height: 30px;
    max-width: 500px;
}
.found{
    padding-top: 120px;
}
.profile{
    position: relative;
}

/* .profile:hover img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(1000%);
    /* background-image: linear-gradient(90deg,#f8842f, #cf4152); */
    /* transition: filter 0.5 ease-in-out; */
/* } */
.profile:hover .overlay{
    display: block;
}
.profile .overlay{
    position: absolute;
    display: none;
    min-height: 505px;
    min-width: 483px;
    background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(254,133,40) 0%, rgb(236,52,76) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(254,133,40) 0%, rgb(236,52,76) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) 0%, rgb(254,133,40) 0%, rgb(236,52,76) 100%);
    opacity: 0.702;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
}
  
.profile:hover .overlay  {
    display: block;
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}
.overlay a i{
    color: #fe693b;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;

}




.us {
    color: #000;
    font-size: 38px;
    font-weight: 600;
}
.but a{
     background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border-radius: 30px;
    padding: 15px 30px;
    border: 1px solid #fff;
    height: 64px;
    width: 264px;
    color: #fff !important;
    
}
.back{
    background-color: #fff;
    border-radius: 10px;
    max-width:700px;
  position: absolute;
  top:30px;
}
input::placeholder{
    color: black;

}
.form-control{
    color: black;
    border: 1px solid #dde2ff;
}
.options{
    width: 100%;
    height: 40px;
    margin-right: 5px;
    outline: none;
    border: 1px solid #dde2ff;
    color: #000;
}
.text{
    margin-right: 4px;
}
.form-control::placeholder{
    color: black;
}
.mess{
    width: 100%;
    padding:10px ;
    margin-right: 5px;
}


.fill{
    max-width: 470px;
    font-size: 16px;
    font-weight: 400px;
    padding-left: 50PX;
}
.us {
    color: #000;
    font-size: 38px;
    font-weight: 600;
}
.but a{
     background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border-radius: 30px;
    padding: 15px 30px;
    border: 1px solid #fff;
    height: 64px;
    width: 264px;
    color: #fff !important;
    
}
.but a span{
    padding-left: 5px;
}
.back{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
    max-width:669px;
  position: absolute;
  top:100px;
}
input::placeholder{
    color: black;
    padding-left: 0px;

}
textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea ::placeholder{
    color: black;
    padding-left: 10px;
}
.form-control{
    color: black;
    border: 1px solid #dde2ff;
    height: 53px;
    max-width: 307px;
    display: block;
    padding-left: 30px;
}
.far{
    display: block;
    position: relative;
    top:33px;
    left: 10px;
}
.options{
    width: 100%;
    height: 50px;
    margin-right: 5px;
    padding-left: 30px;
    outline: none;
    border: 1px solid #dde2ff;
    color: #000;
}
.text{
    margin-right: 4px;
}
.form-control::placeholder{
    color: #000;
}
.mess{
    width: 100%;
    padding:10px ;
    margin-right: 5px;
    border: 1px solid #dde2ff;
}
.mess::placeholder{
    color: #000;
    padding-left: 25px;
}
.close{
    position: absolute;
    top: 10px;
    right: 20px;
}
.close i{
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
    border: 1px solid #3048a6;
    cursor: pointer;
    color: #2b449c;
}


.overlay{
    display: none;
}


































.our-customer h1{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;

}
.center{
    text-align: center;
    justify-content: center;
}
.similar{
    border: 1px solid #2b449c;
    border-radius: 10px;
    text-align: center;
    min-height: 345px;
    max-width: 546px;
    padding: 0px 30px 0px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.similar img{
    margin-top: -60px;
    text-align: center;
}
.similar p{
    color: #fff;
    margin-top: -14px;
    font-weight: 500px;
    font-size: 18px;
    line-height: 25px;

}
.anot p{
    text-align: center;
    position: relative;
    padding-top: 23px;

}
.simi{
    padding-top: 10px;
}
.miro{
    padding-top: 10px;
}
.anot{
    margin-bottom: 0px !important;
    padding-top: 20px;
}
.neta{
    padding-top: 15px;
}
.anot b{
    padding-right: 5px;
}
.anot span {
    color: #d0d9e4;
}
.neta p{
    padding-top: 18px;
}
.neta span{
    color: #d0d9e4;
}
.neta b{
    padding-right: 5px;
}
.after{
    width: 23px;
    height: 2px;
    background-color: #2b449c;
    margin-bottom: 10px;
    margin-top: -3px;
    
}
.after-bar{
    width: 23px;
    height: 2px;
    background-color: #2b449c;
    margin-bottom: 10px;
    margin-top: 25px;
}
.similar span img{
    margin-top: 0px;
}
.contain {
    background-color: #00152e;
    background-size: cover;
    max-width: 1140px;
    margin-top: 80px;
    border-radius: 10px;
    border: 1px solid #3048a6;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contain::before{
    content: url('/assest/images/contain-top.jpeg');
    width: 184px;
    height: 130px;
    position: absolute;
    right: -25px;
}
.contain::after{
    content: url('../images/contain-bot.jpeg');
    width: 287px;
    height: 152px;
    position:absolute;
    bottom: -15px;
    left: -80px;
}
.cta-3{
    position: absolute;
    top: -30px;
    left: 170px;
   
}
.start{
    text-align: center;

}
.start h1{
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    padding-top: 43px;
}
.start b{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.start span{
    font-size: 20px;
    font-weight: 500;
    color: #FF961C;
    text-decoration: underline;
}
.with{
    padding-bottom: 20px !important;
}
.request-1{
    margin-top: 90px;
    margin-bottom: 97px;
}
.request-1 a{
    background-color: transparent;
    border-radius: 30px;
    padding: 19px 38px;
    border: 1px solid #fff;
    height: 64px;
    width: 264px;
    color: #fff !important;
    
    
}
.request-1 a img{
    padding-left: 15px;
}
.request-1 a:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;

}
.footer{
    margin-top: 83px;
    /* background: url('../images/footer.png'); */
    background-color: #00152e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(48% 7%, 100% 12%, 100% 100%, 0 100%, 0 12%);


}
.webi {
    width: 306px;
    min-height: 106px;
    padding-top: 75px;
}
.terms{
    padding-top: 88px;
    color: #a6b2c0;
    font-size: 16px;
    
    
}
.terms span{
    
    font-size: 16px;
}
.nav p{
    color: white;
    font-weight:700;
    font-size: 22px;

}
.home a{
    color: #a6b2c0 !important;
    font-size: 17px;
    font-family: 400px;
    margin-bottom: 8px !important;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    text-decoration: none;
    cursor: pointer;
}
.home a:hover{
    color: #ff961c !important;
}
.ser{
    margin-top: 90px;
}
.ser-1{
    margin-top: 90px;
    padding-left: 60px;
}
.ser-2{
    padding-left: 20px;
}
.ser-3{
    padding-left: 5px;
}


.text1{
    color: #d0d9e4;
    margin-top: 42px;
    padding-bottom: 30px;
}
.home-1{
    color: #d0d9e4;
    display: flex;
    /* margin: 10px; */
    flex-direction: column;
    margin-top: -5px;
    cursor: pointer;

}
.home-1 i:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
}
.home-1 i{
    margin:5px;
    padding: 12px 13px;
    border-radius: 100px;
    background-color: #1a2d43;
    width: 40px;
    text-align: center;
    margin-left: -2px;
}

.bot{
    border-bottom: 1px solid #3048a6;
    padding-top: 85px;
    padding-bottom: 10px;
    
}
.link {
    width: 14px;
    height: 2px;
    background-color: #3048a6;
    margin-top: -32px;
    margin-bottom: 20px;
    
}






@media(max-width:1150px){
    .request{
        display: none;
    }
    .trans {
        height: 280px; 
        width: 160px;
   }










    .profile img{
        width:350px;
        min-height: 367px;
        border-radius: 25px;

    }
    .profile .overlay{
        min-width: 350px;
        min-height: 367px;
        
    }

    .similar p{
        font-size: 14px;

    }
    .anot{
        font-size: 14px;
    }
    .neta{
        font-size: 14px;
    }
    html,body{
        overflow-x: hidden;
    }
}


@media(max-width:995px){
    .trans{
        width: 250px;
        height: 230px;
    }
    .igal h2{
        padding-top: 30px;
    }
    .profile img{
        margin: 10px auto;
    }
    .igal{
        margin: 10px auto;
    }
}
@media(max-width:1000px){
    .navbar-nav{
        margin-left: 0px;
    }
}

@media(max-width:650px){
    .trans{
        margin:10px auto;
    }
}

@media(max-width:756px){
    .nav-logo{
        max-width: 200px;
    }
    .libero h2{
        font-size: 30px;
    }
    .title h2{
          font-size: 30px;
    }
    .start{
        padding-top: 90px;
        padding-bottom: 50px;
    }
    .cta-3{
        left: 30px;
    }
    .igal{
        padding-top: 50px;
    }
    .profile{
        margin: 10px auto;
    }
   
    .us{
        font-size: 25px;
    }
    .fill{
        padding-left: 20px;
        font-size: 12px;
    }
    .but a{
       padding: 10px 20px;
       border: 1px solid #fff;
       height: 50px;
       width: 180px;
       color: #fff !important;
       font-size: 12px;
       
   }
   .but a span{
    display: none;
   }
       .bom{
        margin: 10px auto;
       }
    .profile img{
        max-width: 300px;
        min-height: 317px;
        margin: auto;
        border-radius: 22px;
    }
    .profile .overlay{
        min-width: 300px;
        min-height: 320px;
        top: -1px;
       
    }
    .igal h2{
           font-size: 30px;
    }
    
    
    .start h1{
        font-size: 30px;
    }
    .start b{
        font-size: 14px;
    }
    .start span{
        font-size: 14px;
    }
    .request-1 a{
        background-color: transparent;
        border-radius: 30px;
        padding: 13px 20px;
        border: 1px solid #fff;
        height: 64px;
        width: 264px;
        font-size: 14px;
        
        
    }
    .home-1 {
        flex-direction: row;
        display: flex;
        margin-bottom: 30px;
    }
    .anot{
        font-size: 12px;

    }
    .neta{
        font-size: 12px;
    }
    .bot{
        padding-top: 50px;
    }
    .request-1{
        margin-top: 50px;
    }
    .similar{
        margin: 30px auto;
    }
    .similar p{
        font-size: 16px;
    }
    .ser-1{
        padding-left: 20px;
    }
    .webi{
        max-width: 220px;
    }
    .ser-3{
        margin-left: 10px;
    }
    .nav-logo{
        width: 200px;
    }
    
    
}


@media(max-width:767px){
    
    .nav-logo{
        max-width: 200px;
    }
    
    .similar{
         margin-top: 50px;
    }
}

@media(max-width:530px){
    .fintach h3{
        font-size: 40px;
    }


    .footer{
        clip-path: polygon(0 2%, 51% 0, 100% 2%, 100% 100%, 0% 100%);

    }
}
@media(max-width:430px){
    
    
   
    .similar {
        padding-bottom: 40px;
    }

    
    
    
    
}
@media(max-width:330px){
    .trans{
        width: 220px;
        margin-left: 2px;
    
    }
}