@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    background-color: #011a39;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: #323232;
}
a{
    color: white;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}
a:hover{
    text-decoration: none;
    color: white;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.container{
    max-width: 1140px !important;
}

.background{
    background: url('/assest/images/sec-1-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.nav-item{
    padding: 12px;
    color: white;
    margin-top: -15px;
}
.navbar-nav{
    margin-left: 90px;
}
.nav-link,.nav-link:hover{
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.nav-link:hover{
    color: #ff961c;
}
.request{
    margin-top: -5px;
    margin-left: 10px;
    
}
.request button{
    color: white;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #fe693b;
    /* border-image: linear-gradient(180deg,#ff961c,#fe693b); */
    /* border-image-slice:1 ; */
    text-align: center;
    width: 235px;
    height: 48px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
    
}
.request button:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;

}
.request button span{
    padding-left: 15px;
}
.arrow{
    padding-left: 5px;
}
.top{
    margin-top: 100px;
}
.seo h1{
   color: #fff;
   line-height: 65px;
   font-size: 58px;
   font-weight: 700;
}
.seo  p{
    margin-top: 40px;
    color: #fff;
    line-height: 30px;
    max-width: 600px;
    font-weight: medium;
    letter-spacing: 2px;
}
.seo span{
    color: #ff961c;
}
.view{
    margin-top: 65px;
    padding-bottom: 165px;

}
.view button{
    background: transparent;
    color: white;
    padding: 10px 5px 10px 15px;
    border-radius: 35px;
    border: 1px solid #fff;
    height:64px ;
    width: 264px;
    font-size: 14px;
    font-weight: 500px;

}
.view button img{
    padding-left: 30px;
}
.view button:hover{
    background-color: transparent;
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;

}
.title{
    text-align: center;
    /* max-width: 600px; */
    justify-content: center;
    
}
.title h2{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
}
.title span{
    color: #ff961c;
}
.what{
    margin-top: 95px;
}
.icon{
    
}
.trans{
    background: transparent;
    border:  1px solid #3048a6;
    padding: 29px 17px 16px 20px;
    border-radius: 15px;
    text-align: left;
    height: 240px;
    width: 217px;

}
.trans p{
    padding-top: 28px;
}
.trans img{
    height: 42px;
    width: 42px;
}
.trans .width{
    color: #fff;
    padding-left: 5px;
    width: 100px;
}
.text{
    text-align: center;
    margin-top: 35px;
    justify-content: center;
}
.trans p{
    color: #fff;
    padding-left: 5px;
}
.look{
    background: #00152e;
    padding-top: 100px;
   margin-top: 110px;
   padding-bottom: 100px;
    
    

}
.content h1{
    margin-top: -20px;
    color: white;
    line-height: 47px;
    font-weight: 700;
    font-size: 39px;

}
.content span{
    color: #ff961c;
}
.check {
    padding-top: 12px;
    margin-left: -14px;
}
.check p{
  color: white;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
}
.icons {
    padding-right: 15px;
}

.get button{
    padding: 10px 15px;
    border: 1px solid #ff961c;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    height: 67px;
    width: 515px;
}
.get button:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;
}
.get span{
    padding-left: 20px;
}
.pad{
    margin-top: 100px;
}
.about h1{
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 42px;
}
.about span{
    color: #ff961c;
}
.about{
    padding-top: 30px;
    padding-bottom: 60px;
}
 .team img{
    text-align: center;
    margin-left:0px ;
    margin-top: -60px;
} 
.shopy {
    padding-bottom: 50px;
}
.borders{
    border:1px solid#3048a6;
    border-radius: 15px;
    text-align: center;
    margin-top: 60px;
    height: 410px;
    width: 1100px;
    
}
.master{
    text-align: center;
    

}
.master p{
    padding-top: 30px;
    color: #fff;
    text-align: center;
    max-width: 1020px; 
    padding-left: 60px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 2px;
    /* word-spacing: 10px; */

}
.kevin{
    text-align: center;
    justify-content: center;
}
.kevin p{
    color: #a6b2c0;
    font-weight: 400px;
}
.kevin span{
    font-weight: 700;
    padding-right: 4px;
}
.pad{
    margin-bottom: 130px;
}
.focused{
    padding-top: 70px;
    padding-bottom: 70px;
    background: #00152e;
    position: relative;
}
.grow{
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #3048a6;
    height: 360px;
}
.grow img{
    padding-top: 10px;
}
.grow p{
    color: #a6b2c0;
}
.grow h5{
    color: #fff;
    padding: 14px 0px;
}
.test h1{
    color: #fff;
    font-size: 42px;
    font-weight: 700;
}
.test span{
    color: #ff961c;
}

.border-1{
    border: 1px solid #3048a6;
    border-radius: 15px;
    /* width: 360px; */
    height: 352px;
    padding: 10px 10px 20px 10px;
}
.caros{
    margin-top:  30px  ;
    margin-left: 130px;
    margin-bottom: 40px;
    height: 60px;
    width: 60px;
}
.caros-t{
    margin-top:  30px  ;
    margin-left: 130px;
    margin-bottom: 40px;
    height: 61px;
    width: 47px;
}

.carow{
    padding: 10px 12px;
    background-color: white;
    border-radius: 100%;
    margin-top: -400px;
    margin-left: 20px;
    border: 1px solid #ff961c; 

}
.carows{
    padding: 10px 12px;
    background-color: white;
    border-radius: 100%;
    margin-top: -450px;
    margin-left: 44px;
    border: 1px solid #ff961c;
}



.border-1 h4{
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;

}
.border-1 p{
    color: #a6b2c0;
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    max-width: 290px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.our-customer h1{
    text-align: center;
    color: #fff;
    padding-top: 114px;
    padding-bottom: 45px;

}
.similar{
    border: 1px solid #2b449c;
    border-radius: 10px;
    text-align: center;
    min-height: 345px;
    max-width: 546px;
    padding: 0px 30px 0px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.similar img{
    margin-top: -60px;
    text-align: center;
}
.similar p{
    color: #fff;
    padding-top: 15px;
    font-weight: 500px;
    font-size: 18px;
    line-height: 25px;
    /* max-width: 430px; */
}
.anot p{
    text-align: center;
    position: relative;
    padding-top: 23px;

}
.simi{
    padding-top: 10px;
}
.anot{
    margin-bottom: 0px !important;
}
.anot b{
    padding-right: 5px;
}
.anot span {
    color: #a6b2c0;
}
.neta p{
    padding-top: 18px;
}
.neta b{
    padding-right: 5px;
}
.after{
    width: 23px;
    height: 2px;
    background-color: #2b449c;
    margin-bottom: 10px;
    margin-top: -3px;
    
}
.similar span img{
    margin-top: 0px;
}
.contain {
    background: url('../images/Rounded\ Rectangle\ 8\ copy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1140px;
    border: 1px solid #3048a6;
    margin-top: 80px;
    border-radius: 10px;
}
.start h1{
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    padding-top: 60px;
}
.start b{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.start span{
    font-size: 20px;
    font-weight: 500;
    color: #FF961C;
    text-decoration: underline;
}
.request-1 button{
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #fff;
    height: 64px;
    width: 264px;
    color: #fff;
    margin-bottom: 78px;
    
}
.request-1 button img{
    padding-left: 15px;
}
.request-1 button:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;

}
.footer{
    margin-top: 100px;
    /* background: url('../images/footer.png'); */
    background-color: #00152e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(47% 0, 100% 4%, 100% 100%, 0 100%, 0 6%);
}
.webi {
    max-width: 306px;
    min-height: 106px;
    margin-top: 80px;
}
.terms{
    padding-top: 100px;
    color: #a6b2c0;
}
.nav p{
    color: white;
    font-weight:700;
    font-size: 22px;

}
.home a{
    color: #a6b2c0 !important;
    font-size: 17px;
    font-family: 400px;
    margin-bottom: 8px !important;
    display: flex;
    flex-direction: column;
    /* padding-top: 4px; */
    text-decoration: none;
    cursor: pointer;
}
.ser{
    margin-top: 90px;
}
.ser1{
    margin-top: 90px;
    margin-left: 10px;
    /* padding-left: 120px; */
}
.ser-1{
    margin-left: 70px;
}
.text1{
    color: #a6b2c0;
    margin-top: 42px;
    padding-bottom: 30px;
}
.home-1{
    color: #fff;
    display: flex;
    /* margin: 10px; */
    flex-direction: column;
    margin-top: -5px;
    cursor: pointer;

}
.home-1 i:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
}
.home-1 i{
    margin:5px;
    padding: 12px 13px;
    border-radius: 100px;
    background-color: #1a2d43;
    width: 40px;
    text-align: center;
}

.bot{
    border-bottom: 1px solid #3048a6;
    padding-top: 43px;
    padding-bottom: 10px;
    
}
.link {
    width: 14px;
    height: 2px;
    background-color: #3048a6;
    margin-top: -32px;
    margin-bottom: 20px;
    
}
@media (max-width:1150px){
    .navbar-nav{
        margin-left: 0px;
}
.request button{
         width: 220px;
}
.trans {
     height: 280px; 
     width: 160px;
}
.img img{
    max-width: 400px;
    min-height: 600px;
}
.get button{
    width: 350px;
    padding: 10px 5px;
    font-size: 10px;
}
.right{
    text-align: center;
}
.box{
    text-align: center;
    
}
.content h1{
    font-size: 30px;
    padding-top: 0px;
}
 .carows{
        margin-left: 20px;
    }
   

}
@media (max-width:1100px){
    .request {
        display: none;
    }
    .master p{
        font-size: 20px;
    }
}
@media(max-width:1000px){
    .request-1{
        margin-top: 40px;
    }
    .webi{
        width: 200px;
    }
    .home-1{
        flex-direction: row;
        margin-bottom: 40px;
    }
}
@media(max-width:1075px){
    .carow{
        display: none;

    }
    .carows{
        display: none;
        
    }
}
@media(max-width:995px){
    .navbar-nav{
        margin-left: 0px;
    }
    .trans{
        width: 250px;
        height: 230px;
    }
    .box{
        margin-top: 70px;
    }
    .get button{
        margin-top: 40px;
    }
}
@media(max-width:779px){
    .seo{
        text-align: center;
    }
    .seo h1{
        font-size: 45px;
        line-height: 45px;
    }
    .logo{
    width: 180px;
    height: 100%;
    }
    .content h1{
        font-size: 30px;
    }
    .check p{
        font-size: 16px;
    }
    .master p{
        font-size: 16px;
    }
    .test h1{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .exper p {
        font-size: 14px;
    }
    .text-1{
        margin-bottom: 40px;
    }
    .start h1{
        font-size: 35px;
    }
    .start b{
        font-size: 15px;
    }
    .start span{
        font-size: 15px;
    }
}
@media(max-width:650px){
    .img img{
        max-width: 300px;
        min-height: 400px;
    }
    .anot{
        font-size: 12px;
    }
    .neta{
        font-size: 12px;
    }
}

@media(max-width:430px){
    .get button{
        font-size: 8px;
        width:250px ;
        padding:  5px;
    }
    .img img{
        max-width: 250px;
        min-height: 350px;
    }
    .master p{
        padding-bottom: 0px;
        font-size: 12px;
    }
    .about h1{
          font-size: 30px;
    }
    .kevin{
        font-size: 10px;
    }
    .exper{
        height: 460px;
    }
    .start h1{
        font-size: 25px;
        }
        .start b{
            font-size: 12px;
        }
     .start span{
        font-size: 12px;
     }
}
@media(max-width:330px){
    .trans{
        width: 220px;
        margin-left: 2px;
    
    }
    .our{
        margin-left: 10px;
    }
}








