@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #011a39;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: #323232;
}
a{
    color: white;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}
a:hover{
    text-decoration: none;
    color: white;
}
.navbar{
    background-color: transparent;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler-icon{
             padding-right: -10px;
}
button, input, optgroup, select, textarea{
    margin-right: -17px;
}
.offcanvas{
    background-color: #00152e;
}
.offcanvas-title{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.btn-close{
    color: #fff;
    background-color: wheat;
}
.container{
    max-width: 1140px !important;
}
.workflow{
    /* background: url('../images/Workflow.png');
     */
     background:  linear-gradient(rgb(6, 21, 39,0.5),rgb(6, 21, 39,0.5)), url('../images/Workflow.png') no-repeat top center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 92%, 53% 100%, 0 93%, 0 0);
    position: relative;
    margin-top: -108px;
    z-index: -1;

}
.nav-item{
    padding: 12px;
    color: white;
    margin-top: -15px;
}
.navbar-nav{
    margin-left: 85px;
}
.nav-link,.nav-link:hover{
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.nav-link:hover{
    color: #ff961c;
}
.request{
    margin-top: -5px;
    margin-left: 10px;
    
}
.request button{
    color: white;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #fe693b;
    /* border-image: linear-gradient(180deg,#ff961c,#fe693b); */
    /* border-image-slice:1 ; */
    text-align: center;
    width: 235px;
    height: 48px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
    
}
.request button:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;

}
.request button span{
    padding-left: 20px;
}
.fintach{
    text-align: center;
    color: #fff;
}
.fintach h3{
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    padding-top: 225px;
    
}
.fintach p{
    color: #fff;
    font-size: 19px;
    font-weight:500 ;
    padding-top: 9px;
    padding-bottom: 160px;
}
.area{
    padding-top: 40px;
    text-align: center;
}

.area h1{
    color: #fff;
    font-size: 42px;
    font-weight: 600;
}
.area span{
    color: #FF961C;
}
.pan{
    margin-top: -50px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #00152e;
    position: relative;
    z-index: -2;
}
.card{
    min-height: 603px;
    max-width: 370px;
    border: 1px solid #3048a6;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
    margin-bottom: 10px;
}
.icon img{
    margin: 30px 10px 20px 10px;
}
.icon h5{
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 10px;
}
.icon .data{
    color: #cfd9e4;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 10px;
}

.check{
    height: 15px;
    margin-top:5px;
}
.tick{
    padding-left: 10px;
}
.tick span p{
    color: #cfd9e4;
    font-family: 400;
    font-size: 16px;
    padding-left: 5px;
    
}
.view{
    padding-top: 70px;
    padding-left: 15px;
}
.view a span{
    padding-left: 9px;
}
.btn{
    color: #fff;
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid #FF961C;
    border-radius: 50px;
    
}
.view a:hover{
    color: #fff;
}
.view1{
    padding-top: 45px;
    padding-left: 15px;
}
.view1 a span{
    padding-left: 9px;
}
.view1 a:hover{
    color: #fff;
}
.view2{
    padding-top: 15px;
    padding-left: 10px;
}
.view2 a span{
    padding-left: 9px;
}
.view2 a:hover{
    color: #fff;
}
.pop{
    padding-top: 50px;
    text-align: center;
}


.fill{
    max-width: 470px;
    font-size: 16px;
    font-weight: 400px;
    padding-left: 50PX;
}
.us {
    color: #000;
    font-size: 38px;
    font-weight: 600;
}
.but a{
     background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border-radius: 30px;
    padding: 15px 30px;
    border: 1px solid #fff;
    height: 64px;
    width: 264px;
    color: #fff !important;
    
}
.back{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
    max-width:669px;
  position: absolute;
  top:100px;
}
input::placeholder{
    color: black;
    padding-left: 0px;

}
textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea ::placeholder{
    color: black;
    padding-left: 10px;
}
.form-control{
    color: black;
    border: 1px solid #dde2ff;
    height: 53px;
    max-width: 307px;
    display: block;
    padding-left: 30px;
}
.far{
    display: block;
    position: relative;
    top:33px;
    left: 10px;
}
.options{
    width: 100%;
    height: 50px;
    margin-right: 5px;
    padding-left: 30px;
    outline: none;
    border: 1px solid #dde2ff;
    color: #000;
}
.text{
    margin-right: 4px;
}
.form-control::placeholder{
    color: #000;
}
.mess{
    width: 100%;
    padding:10px ;
    margin-right: 5px;
    border: 1px solid #dde2ff;
}
.mess::placeholder{
    color: #000;
    padding-left: 25px;
}
.close{
    position: absolute;
    top: 10px;
    right: 20px;
}
.close i{
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
    border: 1px solid #3048a6;
    cursor: pointer;
    color: #2b449c;
}


.overlay{
    display: none;
    z-index: 1;
}
















































.our-customer h1{
    text-align: center;
    color: #fff;
    padding-top: 104px;
    padding-bottom: 50px;

}
.center{
    text-align: center;
    justify-content: center;
}
.similar{
    border: 1px solid #2b449c;
    border-radius: 10px;
    text-align: center;
    min-height: 345px;
    max-width: 546px;
    padding: 0px 30px 0px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.similar img{
    margin-top: -60px;
    text-align: center;
}
.similar p{
    color: #fff;
    margin-top: -14px;
    font-weight: 500px;
    font-size: 18px;
    line-height: 25px;

}
.anot p{
    text-align: center;
    position: relative;
    padding-top: 23px;

}
.simi{
    padding-top: 10px;
}
.miro{
    padding-top: 10px;
}
.anot{
    margin-bottom: 0px !important;
    padding-top: 20px;
}
.neta{
    padding-top: 15px;
}
.anot b{
    padding-right: 5px;
}
.anot span {
    color: #d0d9e4;
}
.neta p{
    padding-top: 18px;
}
.neta span{
    color: #d0d9e4;
}
.neta b{
    padding-right: 5px;
}
.after{
    width: 23px;
    height: 2px;
    background-color: #2b449c;
    margin-bottom: 10px;
    margin-top: -3px;
    
}
.after-bar{
    width: 23px;
    height: 2px;
    background-color: #2b449c;
    margin-bottom: 10px;
    margin-top: 25px;
}
.similar span img{
    margin-top: 0px;
}
.contain {
    background-color: #00152e;
    background-size: cover;
    max-width: 1140px;
    margin-top: 80px;
    border-radius: 10px;
    border: 1px solid #3048a6;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contain::before{
    content: url('/assest/images/contain-top.jpeg');
    width: 184px;
    height: 130px;
    position: absolute;
    right: -25px;
}
.contain::after{
    content: url('../images/contain-bot.jpeg');
    width: 287px;
    height: 152px;
    position:absolute;
    bottom: -15px;
    left: -80px;
}
.cta-3{
    position: absolute;
    top: -30px;
    left: 170px;
   
}
.start{
    text-align: center;

}
.start h1{
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    padding-top: 43px;
}
.start b{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.start span{
    font-size: 20px;
    font-weight: 500;
    color: #FF961C;
    text-decoration: underline;
}
.with{
    padding-bottom: 20px !important;
}
.request-1{
    margin-top: 90px;
    margin-bottom: 97px;
}
.request-1 a{
    background-color: transparent;
    border-radius: 30px;
    padding: 19px 38px;
    border: 1px solid #fff;
    height: 64px;
    width: 264px;
    color: #fff !important;
    
    
}
.request-1 a img{
    padding-left: 15px;
}
.request-1 a:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
    border: none;

}
.footer{
    margin-top: 83px;
    /* background: url('../images/footer.png'); */
    background-color: #00152e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(48% 7%, 100% 12%, 100% 100%, 0 100%, 0 12%);


}
.webi {
    width: 306px;
    min-height: 106px;
    padding-top: 75px;
}
.terms{
    padding-top: 88px;
    color: #a6b2c0;
    font-size: 16px;
    
    
}
.terms span{
    
    font-size: 16px;
}
.nav p{
    color: white;
    font-weight:700;
    font-size: 22px;

}
.home a{
    color: #a6b2c0 !important;
    font-size: 17px;
    font-family: 400px;
    margin-bottom: 8px !important;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    text-decoration: none;
    cursor: pointer;
}
.home a:hover{
    color: #ff961c !important;
}
.ser{
    margin-top: 90px;
}
.ser-1{
    margin-top: 90px;
    padding-left: 60px;
}
.ser-2{
    padding-left: 20px;
}
.ser-3{
    padding-left: 5px;
}


.text1{
    color: #d0d9e4;
    margin-top: 42px;
    padding-bottom: 30px;
}
.home-1{
    color: #d0d9e4;
    display: flex;
    /* margin: 10px; */
    flex-direction: column;
    margin-top: -5px;
    cursor: pointer;

}
.home-1 i:hover{
    background-image: linear-gradient(90deg,#f8842f, #cf4152);
}
.home-1 i{
    margin:5px;
    padding: 12px 13px;
    border-radius: 100px;
    background-color: #1a2d43;
    width: 40px;
    text-align: center;
    margin-left: -2px;
}

.bot{
    border-bottom: 1px solid #3048a6;
    padding-top: 85px;
    padding-bottom: 10px;
    
}
.link {
    width: 14px;
    height: 2px;
    background-color: #3048a6;
    margin-top: -32px;
    margin-bottom: 20px;
    
}


@media(max-width:1150px){
    .request{
        display: none;
    }
    .card{
        min-height: 650px;
    }
    
    
    .similar p{
        font-size: 16px;

    }
    .anot{
        font-size: 14px;
    }
    .neta{
        font-size: 14px;
    }
    html,body{
        overflow-x: hidden;
    }
}


@media(max-width:1000px){
    .navbar-nav{
        margin-left: 0px;
    }
    .navbar-toggler-icon{
        padding-right: -30px;
}
   .similar{
        min-height: 370px;
   }
    
}
@media(max-width:992px){
    
    .ser-1{
        margin-top: 90px;
        /* margin-left: 90px; */
        padding-left: 50px;
    }
    .ser-2{
        padding-left: 20px;
    }
    .ser-3{
        padding-left: 20px;
    }
    
    .card{
        margin: 10px auto;
    }
}
@media(max-width:756px){
    .nav-logo{
        max-width: 200px;
    }
   .fintach h3{
    font-size: 40px;
   }
   .area h1{
    font-size: 35px;
   }
   .similar{
    padding-top: 40px;
   }
    .start{
        padding-top: 90px;
        padding-bottom: 50px;
    }
    .cta-3{
        left: 30px;
    }
    
    
    .start h1{
        font-size: 30px;
    }
    .start b{
        font-size: 14px;
    }
    .start span{
        font-size: 14px;
    }
    .request-1 a{
        background-color: transparent;
        border-radius: 30px;
        padding: 13px 20px;
        border: 1px solid #fff;
        height: 64px;
        width: 264px;
        font-size: 14px;
        
        
    }
    .home-1 {
        flex-direction: row;
        display: flex;
        margin-bottom: 30px;
    }
    .anot{
        font-size: 12px;

    }
    .neta{
        font-size: 12px;
    }
    .bot{
        padding-top: 50px;
    }
    .request-1{
        margin-top: 50px;
    }
    .similar{
        margin: 30px auto;
    }
    .similar p{
        font-size: 16px;
    }
    .ser-1{
        padding-left: 20px;
    }
    .webi{
        max-width: 220px;
    }
    .us{
        font-size: 25px;
    }
    .fill{
        padding-left: 20px;
        font-size: 12px;
    }
    .but a{
       padding: 10px 20px;
       border: 1px solid #fff;
       height: 50px;
       width: 180px;
       color: #fff !important;
       font-size: 12px;
       
   }
   .but a span{
    display: none;
   }
    
    
}


@media(max-width:530px)
{
    .nav-logo{
        max-width: 150px;
    }
    
    .footer{
        clip-path: polygon(0 2%, 51% 0, 100% 2%, 100% 100%, 0% 100%);

    }
}


@media(max-width:430px){
    
    .similar {
        padding-bottom: 40px;
    }
    
}
@media(max-width:330px){
   
}
